<%= render "shared/header" %>

<div class="user-show">
  <div class="user_wrapper">
    <div class="page-heading">
      <%= "#{@user_name}"%>さんの情報
    </div>
    
    <table class="table">
      <tbody>
        <tr>
          <th class="table_col1">名前</th>
          <td class="table_col2"><%= "#{@user_name}" %></td>
        </tr>
        <tr>
          <th class="table_col1">所属</th>
          <td class="table_col2"><%= "#{@department}" %></td>
        </tr>
        <tr>
          <th class="table_col1">ログインID</th>
          <td class="table_col2"><%= "#{@login_num}" %></td>
        </tr>
        <tr>
          <th class="table_col1">メールアドレス</th>
          <td class="table_col2"><%= "#{@email}" %></td>
        </tr>
        <tr>
          <th class="table_col1">パスワード</th>
          <td class="table_col2"><%= "#{@password}" %></td>
        </tr>
      </tbody>
    </table>
     <% if user_signed_in? %> 
        <%= link_to "Edit", edit_user_registration_path(@user.id), method: :get, class: "user-red-btn" %>
        <%= link_to "Delete","/users/#{@user.id}", data: { turbo_method: :delete }, class:"user-destroy" %>
    <% end %>

  </div>
</div>

<%= render "shared/footer"%>