<%# 一部items/show.css引用 %>
<%= render "shared/header" %>

<div class="user-show">
  <div class="user_wrapper">
    <div class="page-heading">
      <%= "#{@user_name}"%>さんの情報
    </div>
    
    <table class="table">
      <tbody>
        <tr>
          <th class="table_col1">名前</th>
          <td class="table_col2"><%= "#{@user_name}" %></td>
        </tr>
        <tr>
          <th class="table_col1">所属</th>
          <td class="table_col2"><%= "#{@department}" %></td>
        </tr>
        <tr>
          <th class="table_col1">ログインID</th>
          <td class="table_col2"><%= "#{@login_num}" %></td>
        </tr>
        <tr>
          <th class="table_col1">メールアドレス</th>
          <td class="table_col2"><%= "#{@email}" %></td>
        </tr>
        <tr>
          <th class="table_col1">パスワード</th>
          <td class="table_col2"><%= "#{@password}" %></td>
        </tr>
      </tbody>
    </table>
    <div class ="user-btns">
      <% if user_signed_in? %>
        <div class = "click-btns">
          <div class = "click-btn">
            <%= image_tag("pen.png", size: '35x35', class: "click-btn-img") %>
            <%= link_to "編集", edit_user_registration_path(@user.id), method: :get, class: "click-btn-path" %>
          </div>
          <div class = "click-btn">
            <%= image_tag("trash.png", size: '35x35', class: "click-btn-img") %>
            <%= link_to "削除","/users/#{@user.id}", data: { turbo_method: :delete }, class:"click-btn-path" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>