<div class="hamburger-menu">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<div class="side-bar">
  <div class = "side-bar-contents">
    <div class = "contents-top">
      <%= image_tag("search.png", size: '35x35', class: "side-bar-img") %>
      <div class= side-bar-title>アイテム検索</div>
    </div>
    <div class = "contents-bottom">
      <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "アイテム名", class: "search-input" %>
        <div class ="search-btn"><%= form.submit "検索" %></div>
      <% end %>
    </div>
  </div>
  
  <div class = "side-bar-contents">
    <div class = "contents-top">
      <%= image_tag("category.png", size: '35x35', class: "side-bar-img") %>
      <div class= side-bar-title>カテゴリー</div>
    </div>
    <div class= "contents-bottom">
      <ul class="category_info">
        <li><%= link_to "備品", "#" %></li>
        <li><%= link_to "在庫", "#" %></li>
      </ul>
    </div>
  </div>

  <div class = "side-bar-second-contents">
    <%= image_tag("order-list.png", size: '35x35', class: "side-bar-img") %>
    <%= link_to "発注リスト", "#", class: "side-bar-title" %>
  </div>

  <div class = "side-bar-second-contents">
    <%= image_tag("chat.png", size: '35x35', class: "side-bar-img") %>
    <%= link_to "チャット", chats_path, class: "side-bar-title" %>
  </div>
</div>