<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="top-page-header">
  <div class="top-bar-contents">
    <div class="top-logo">
      <%= link_to image_tag("logo.png", size: '200x100', class: :logo), root_path %>
    </div>
    <% if user_signed_in? %>
      <div class="top-nav">
        <%= link_to "新規商品登録", new_item_path, class: "new-item" %>
        <%= link_to "発注リスト", order_lists_path, class: "item-list" %>
        <%= link_to "ユーザー管理", users_path, class: "user-list" %>
        <span><%= link_to "#{current_user.user_name}", class: "user-nickname" %>
          <ul class="user_info">
            <li>
              <%= link_to "マイページ", "/users/#{current_user.id}"%>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" %>
            </li>
          </ul>
        </span>
      </div>
    <% else %>
      <div class="grid-6">
        <%= link_to "ログイン", new_user_session_path, class: "login" %>
        <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
      </div>
    <% end %>
  </div>
</header>