<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="top-page-header">

  <div class="top-bar-contents">
    <div class="top-logo">
      <%= link_to image_tag("logo.png", size: '220x100', class: :logo), root_path %>
    </div>
    <% if user_signed_in? %>
      <div class = "nav-search">
        <div class = "contents-search">
          <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
            <div class ="search-inputs">
              <div class = "search-input">
                <%= image_tag("mushimegane-logo.png", size: '20x20', class: "search-img") %>
                <%= form.text_field :keyword, placeholder: "アイテム名検索" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <ul class ="top-nav">
        <li><%= link_to "発注リスト", "#", class: "nav-list", id: "order_list" %></li>
        <li><%= link_to "新規商品登録", new_item_path, class: "nav-list" %></li>
        <li><%= link_to "ユーザー管理", users_path, class: "nav-list" %></li>
        <%= image_tag("icon.png", size: '20x20', class: "icon") %>
        <li id= "username"><%= current_user.user_name %>
          <ul class="user_info", id = "userpulldown">
            <li>
              <%= link_to "マイページ", "/users/#{current_user.id}", class: "pull-down" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "pull-down" %>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</header>