<div class="chats">
  <div class= "chat">

    <div class="chat-message">
      <div class="chat-top">
        <div class="chat-name">
          <!-- 投稿したユーザー名情報を出力する -->
          <%= chat.user.user_name %>
        </div>
        <div class="chat-time">
          <!-- 投稿した時刻を出力する -->
          <%= l chat.created_at %>
        </div>
      </div>
      <div class="chat-center">
        <div class="chat-comment">
          <!-- 投稿したメッセージ内容を記述する -->
          <%= chat.message %>
        </div>
        <%= image_tag chat.image.variant(resize: '50x50'), class: 'chat-image' if chat.image.attached? %>
      </div>
    </div>
    <% if user_signed_in? && current_user.id == chat.user_id %>
      <div class= "chat-right">
        <div class= "chat-edit">
          <%= link_to image_tag("pen.png", size: '25x25'), edit_chat_path(chat), method: :get, class: "chat-btn" %>
        </div>
        <div class="chat-delete" id="del-btn">
          <%= link_to image_tag("trash.png", size: '25x25'), chat_path(chat), data: { turbo_method: :delete }, class:"chat-btn" %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="like-btn<%= chat.id %>">
    <%= render partial: "likes/like", locals: { chat: chat } %>
  </div>
</div>