<%= render "shared/header" %>

<div class ="chat-wrapper">
  <div class= "chat-contents">
    <div class="chat-title" >
      チャット
    </div>

    <%= form_with model: @chat, class: 'form', local: true do |f| %>
      <div class="form-input">
        <%= f.text_field :message, class: 'form-message', placeholder: 'type a message' %>
      </div>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
      <%= f.submit '送信', class: 'form-submit' %>
    <% end %>

    <div class="chat-main">
      <%= render partial: 'chat', collection: @chats, as: :chat%>
    </div>

    <div class= "main-back-btns">
      <div class="main-back-btn"><%=link_to '在庫一覧へもどる', root_path %></div>
    </div>
  </div>
</div>

<%= render "shared/footer"%>