<%# app/assets/stylesheets/items/new.css %>
<%= render "shared/second-header"%>

<div class="new-items-contents">
  <%= form_with model: @item, id: 'new_item', url: items_path, local: true do |f| %>
    <div class="new-items-main">
      <h2 class="new-items-title">アイテムの情報を編集</h2>

      <%= render 'shared/error_messages', model: f.object %>

      <%# 商品名と商品説明 %>
      <div class="new-items">
        <div class="weight-bold-text">
          アイテム名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :item_name, class:"items-text", id:"item-name", placeholder:"商品名", maxlength:"40" %>
      </div>

      <%# 商品画像 %>
      <div class="img-upload">
        <div class="weight-bold-text">
          アイテム画像
          <span class="indispensable2">任意</span>
        </div>
        <div class="right-img-upload">
          <div class="click-upload">
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :image, id:"item-image" %>
          </div>
          <div id="previews"></div>
        </div>
      </div>
      <%# /商品画像 %>

      <%# 商品の詳細 %>
      <div class="items-detail">
        <div class="items-form">
          <div class="weight-bold-text">
            カテゴリー
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
          <div class="weight-bold-text">
            保管場所
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"select-box", id:"item-place"}) %>
          <div class="weight-bold-text">
            数量
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :quantity, class:"items-text", id:"quantity", placeholder:"数量" %>
          <%= f.collection_select(:unit_id, Unit.all, :id, :name, {}, {class:"select-box", id:"item-sales-unit"}) %>
          <div class="weight-bold-text">
            期限
            <span class="indispensable2">任意</span>
          </div>
          <div class = select-date>
            <%= raw sprintf(
                  f.date_select(
                    :expiry_date,
                    class: 'select-date', 
                    id: 'expiry-date',
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2020,
                    end_year: (Time.now.year + 50),
                    date_separator: '%s'),
                  "年", "月") + "日" %>
          </div>
          <div class="weight-bold-text">
            価格
            <span class="indispensable2">任意</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
          <div class="weight-bold-text">
            発注コード
            <span class="indispensable2">任意</span>
          </div>
          <%= f.text_field :order_code, class:"items-text", id:"item-code", placeholder:"発注コード" %>
        </div>
      </div>
      <%# /商品の詳細 %>

      <%# 商品説明 %>
      <div class="items-explain">
        <div class="weight-bold-text">
          備考
          <span class="indispensable2">任意</span>
        </div>
        <%= f.text_area :comment, class:"items-text", id:"item-info", placeholder:"アイテムの説明など" %>
      </div>
      <%# /商品説明 %>

      <%# 下部ボタン %>
      <div class="sell-btn-contents">
        <%= f.submit "登録する" ,class:"sell-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
      <%# /下部ボタン %>
    </div>
  <% end %>
</div>

<%= render "shared/footer"%>