<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <div class="item-img-content">
      <%= image_tag(@item.image.variant(resize: '200x200'), class: "item-img") %>
    </div>
    <h2 class="name">
      <%= @item.item_name %>
    </h2>

    <% if user_signed_in? %> 
      <% if current_user.id == @item.user_id %>
        <%= link_to "商品の編集", edit_item_path(@item), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除","/items/#{@item.id}", data: { turbo_method: :delete }, class:"item-destroy" %>
      <% end %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">保管場所</th>
          <td class="detail-value"><%= @item.place.name %></td>
        </tr>
        <tr>
          <th class="detail-item">数量</th>
          <td class="detail-value"><%= @item.quantity %><%= @item.unit.name %></td>
        </tr>
        <tr>
          <th class="detail-item">期限</th>
          <td class="detail-value"><%= @item.expiry_date %></td>
        </tr>
        <tr>
          <th class="detail-item">金額</th>
          <td class="detail-value">¥<%= @item.price %></td>
        </tr>
        <tr>
          <th class="detail-item">発注コード</th>
          <td class="detail-value"><%= @item.order_code %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @item.comment %></td>
        </tr>
        <tr>
          <th class="detail-item">登録者</th>
          <td class="detail-value"><%= @item.user.user_name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-item"><%= @item.category.name %>をもっと見る</a>
</div>
