<%# CSS・・・assets/stylesheets/items/show.css %>

<%= render "shared/header" %>

<div class = "item-show-head">
  <p>在庫データ詳細</p>
</div>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.item_name %>
    </h2>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">保管場所</th>
          <td class="detail-value"><%= @item.place.name %></td>
        </tr>
        <tr>
          <th class="detail-item">数量</th>
          <td class="detail-value"><%= @item.quantity %><%= @item.unit.name %></td>
        </tr>
        <tr>
          <th class="detail-item">期限</th>
          <td class="detail-value"><%= @item.expiry_date %></td>
        </tr>
        <tr>
          <th class="detail-item">金額</th>
          <td class="detail-value">¥<%= @item.price %></td>
        </tr>
        <tr>
          <th class="detail-item">発注コード</th>
          <td class="detail-value"><%= @item.order_code %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @item.comment %></td>
        </tr>
        <tr>
          <th class="detail-item">登録者</th>
          <td class="detail-value"><%= @item.user.user_name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>

  <div class="item-content">
    <% if user_signed_in? %>
      <div class = "item-btns">
        <div class = "item-btn">
          <%= link_to "Edit", edit_item_path(@item), method: :get, class: "item-red-btn" %>
        </div>
        <div class = "item-btn">
          <%= link_to "Delete","/items/#{@item.id}", data: { turbo_method: :delete }, class:"item-destroy" %>
        </div>
      </div>
    <% end %>
    <div class = "images">
      <%= image_tag(@item.image.variant(resize: '300x300'), class: "item-img"), placeholder:"画像なし" %>
    </div>
  </div>
  
</div>

<%= render "shared/footer" %>
